---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>All project </h2>
{% for post in site.projects %}
{% include archive-single.html %}
{% endfor %}


<h2>Current projects </h2>
{% for post in site.projects %}
{% if page.active == "current" %}
{% include archive-single.html %}
{% endif %}
{% endfor %}




<h2>Previous projects</h2>
{% for post in site.projects.past %}
{% if page.active == "past" %}
{% include archive-single.html %}
{% endif %}
{% endfor %}